<div class="text-center">

    <h1 class="text-info">Inquiry Confirmation</h1>

    <h2 class="text-primary">We have received your Order our delivery boy will contact you shortly!</h2>

    <img src="/images/DelBoy.jpg" width="80%"/>
</div>